<!DOCTYPE html>
<html lang="pt_br">
    <!-- Permitir acentos e etc -->

    <head>
        <meta charset="utf-8"/>
        <meta name="generator" content="width=device-width, initial-scale=1.0"/>

        {% block name %}
            <title>Ecoleta</title>
        {% endblock name %}

        <!-- Pega a fonte de uma fonte externa -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300;700&display=swap" rel="stylesheet"><link>

        <!-- Importação dos arquivos CSS para estilização da página -->
        <link rel="stylesheet" href="styles/main.css">

        {% block styles %}{% endblock styles %}

        <!-- O "responsive.css" deve ser por último para não haver substituição de regras de estilo! -->
        <link rel="stylesheet" href="styles/responsive.css">
    </head>

    <body>

        <div id="{{ pageId }}">
            {% block content %}{% endblock content %}
        </div>

        {% block modal %}{% endblock modal %}

        {% block scripts %}{% endblock scripts %}

    </body>

</html>