<div id="modal" class="point">
        <div class="content">
            <img src="assets/check.svg" alt="Cadastrado Concluído!">
            <h1>Cadastro Concluído!</h1>
        </div>
    </div>

<script>

setTimeout(() =>
{
    window.location = "/"
}, 2000)

</script>