/* Do raiz (base para tudo) */
:root
{
    --title-color: #322153;
    --primary-color: #34cb79;
}

/* De todos os elementos */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: 'Roboto', sans-serif;
}

/* Corpo da página */
body
{
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a
{
    text-decoration: none;
}

/* Cada elemento com texto da página (?) */
h1, h2, h3, h4, h5, h6
{
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}


/*
 * BOX MODEL
 * 
 * Toda caixa tem largura, altura, espaçamentos, preenchimentos, bordas, cor, fundo, maneira que é vista pelo HTML (display)
 * 
 * */

#page-home
{
    height: 100vh;
    background: url('../assets/home-background.svg') no-repeat;
    background-position: 35vw bottom
}
